{% extends "layout.html" %}

{% block content %}
    <section class="IdxHeaderBg ">
        <div class="flexslider" id="HomeSlider">
            <ul class="slides NoBullet">
                <li class="BG flex-active-slide"
                    style="background-image: url({{ url_for('static', filename='images/imgs/slider-img-1.jpg') }}); width: 100%; min-height:641px; ">
                    <img src="{{ url_for('static', filename='images/imgs/slider-img-1.jpg') }}" alt="" class="ResImg">
                </li>
                <li class="BG flex-active-slide"
                    style="background-image: url({{ url_for('static', filename='images/imgs/slider-img-2.jpg') }}); width: 100%; min-height:641px;">
                    <img src="{{ url_for('static', filename='images/imgs/slider-img-2.jpg') }}" alt="" class="ResImg">
                </li>
                <li class="BG flex-active-slide"
                    style="background-image: url({{ url_for('static', filename='images/imgs/slider-img-3.jpg') }}); width: 100%; min-height:641px;">
                    <img src="{{ url_for('static', filename='images/imgs/slider-img-3.jpg') }}" alt="" class="ResImg">
                </li>
            </ul>
        </div>
        <div class="Header">
            <div class="MainWrapper">
                <div class="fixed-left">
                    <h3 class="Title">
                        Practical software security solutions for an impractical world
                    </h3>
                    <hr class="sepline">
                </div>
            </div>
        </div>
    </section>

    <section class="Service_Wrapper">
        <div class="InnerContainWrapper">
            <div class="WithoutSlider">
                <ul class="NoBullet TAC">
                    <li>
                        <a href="{{ url_for('page', name='consulting') }}">
                        <div class="Col">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/icons/service-icon-1.png') }}" alt="">
                            </div>
                            <div class="text-block">
                                <h4 class="Title fz50 bits-r">
                                    Consulting
                                </h4>
                            </div>
                            <div class="plus">
                                +
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('page', name='training') }}">
                        <div class="Col">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/icons/service-icon-3.png') }}" alt="">
                            </div>
                            <div class="text-block">
                                <h4 class="Title fz50 bits-r">
                                    Training
                                </h4>
                            </div>
                            <div class="plus">
                                +
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('page', name='development') }}">
                        <div class="Col">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/icons/service-icon-2.png') }}" alt="">
                            </div>
                            <div class="text-block">
                                <h4 class="Title fz50 bits-r">
                                    Development
                                </h4>
                            </div>
                            <div class="plus">
                                +
                            </div>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="Section_Second one">
        <div class="InnerContainWrapper">
            <div class="short-desc" style="font-size: 1.25rem;">
                <strong>prac·ti·cal:</strong> of or concerned with the actual doing or use of something rather than
                    with theory and ideas.
            </div>
            <!--h2 class="Title">
                There are plenty of resources for theory and ideas regarding the <br> many fields of study within the
                Information Security industry.
            </h2-->
        </div>
    </section>

    <section class="Section_Second second consulting-page">
        <div class="InnerContainWrapper">
            <div class="ClearBoth group MarginWrapper">
                <div class="ImgWrapper">
                    <img src="{{ url_for('static', filename='images/imgs/about-img-1.jpg') }}">
                </div>
                <div class="DescWrapper">
                    <h3 class="Title fz50 bits-r">
                        Who we are
                    </h3>
                    <!-- <hr class="sepline"> -->
                    <div class="Desc FParagraph1">
                        <p>The missing piece to many of the great resources and brilliant discoveries made available to
                            us on a daily basis is the practical application to our daily jobs. Tim Tomes, the
                            founder of Practical Security Services, spent his career focusing on stripping away the
                            mystery and complexity from these theories and ideas and finding ways to make them applicable
                            to what professionals in the Information Security industry do every day. So out of that
                            approach was born the idea of forming a company whose goal was the same. To provide consulting,
                            development, and training services where the practical application of technologies, theories,
                            and ideas result in a high-quality, actionable deliverable, and an enhanced skill set.
                        </p>
                    </div>
                    <!--div class="linebtn"><a href="javascript:void(0)">Our projects</a></div-->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
