{% extends "layout.html" %}

{% block content %}
    <section class="InnerHeaderBg" style="background-image: url({{ url_for('static', filename='images/imgs/consulting-header.jpg') }}); min-height:461px;">
        <div class="ResImg">
            <img src="{{ url_for('static', filename='images/imgs/consulting-header.jpg') }}" alt="">
        </div>
        <div class="Wrapper">
            <div class="MainWrapper">
                <h2 class="Title fz90 bits-r">
                    Enrollment
                </h2>
            </div>
        </div>
    </section>

    <section class="Section_Second one">
        <div class="InnerContainWrapper">
            <br/>
            <iframe title="Enrollment Form" style="height: 1200px; width: 100%;" marginheight="0" marginwidth="0" src="https://docs.google.com/forms/d/e/1FAIpQLSev7Q35ItVI8Kyj19Q_3b9Df2Tk39MN4BSKfphdJAVphUoFLw/viewform?embedded=true" scrolling="no" frameborder="0"></iframe>
        </div>
    </section>

{% endblock %}
