{% extends "layout.html" %}

{% block content %}
    <section class="InnerHeaderBg" style="background-image: url({{ url_for('static', filename='images/imgs/consulting-header.jpg') }}); min-height:461px;">
        <div class="ResImg">
            <img src="{{ url_for('static', filename='images/imgs/consulting-header.jpg') }}" alt="">
        </div>
        <div class="Wrapper">
            <div class="MainWrapper">
                <h2 class="Title fz90 bits-r">
                    Training
                </h2>
            </div>
        </div>
    </section>

    <section class="Section_Second one">
        <div class="InnerContainWrapper">
        </div>
    </section>

    <section class="Section_Second second consulting-page">
        <div class="InnerContainWrapper">
            <div class="ClearBoth group MarginWrapper">
                <div class="ImgWrapper">
                    <img src="{{ url_for('static', filename='images/pages/training/training.jpg') }}">
                </div>
                <div class="DescWrapper">
                    <h3 class="Title fz50 bits-r">
                        Knowledge where it counts
                    </h3>
                    <!-- <hr class="sepline"> -->
                    <div class="Desc FParagraph1">
                        <p>There are too many Web Application Security testing and secure development classes that waste
                            time by discussing multiple tools that serve the same purpose, or make Web Application Security
                            concepts feel like "magic" by not addressing the practical application of theory. Using the
                            tools they use and the techniques they've learned from years of Web Application Security
                            consulting and software development, Practical Security Services provides training that focuses
                            on blending theory with reality to form an optimal learning experience. Training also
                            provides Practical Security Services an opportunity to share a passion for Web Application
                            Security and software development with individuals who make a real difference in the state of
                            security for the applications that impact our daily lives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="BlogWrap TAC BgColor4">
        <div class="InnerContainWrapper">
            <h4 class="Title">Courses</h4>
            <div class="ListWrap">
                <ul class="NoBullet TAC">
                    <li>
                        <div classc="Col">
                            <div class="group ClearBoth">
                                <div class="DescWrap">
                                    <h5 class="Title">
                                        <a href="{{ url_for('page', name='training/pwapt') }}">
                                            Practical Web Application Penetration Testing (PWAPT)
                                        </a>
                                    </h5>
                                    <div class="Desc">
                                        Real world Web Application Security testing experience in a classroom environment.
                                        The perfect blend of tooling, technique, theory, and methodology to enhance
                                        confidence and competence.
                                    </div>
                                    <div class="linebtn">
                                        <a href="{{ url_for('page', name='training/pwapt') }}">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div classc="Col">
                            <div class="group ClearBoth">
                                <div class="DescWrap">
                                    <h5 class="Title">
                                        <a href="{{ url_for('page', name='training/pbat') }}">
                                            Practical Burp Suite Pro: Advanced Tactics (PBAT)
                                        </a>
                                    </h5>
                                    <div class="Desc">
                                        All Burp, all the time. Comprehensive training on the capabilities of Burp Suite
                                        Pro and the practical application of these capabilities in real world Web
                                        Application Security engagements
                                    </div>
                                    <div class="linebtn">
                                        <a href="{{ url_for('page', name='training/pbat') }}">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div classc="Col">
                            <div class="group ClearBoth">
                                <div class="DescWrap">
                                    <h5 class="Title">
                                        <a href="{{ url_for('page', name='training/pwas') }}">
                                            Practical Web Application Security (PWAS)
                                        </a>
                                    </h5>
                                    <div class="Desc">
                                        Fully customized Web Application Security training. Choose from a menu of 150+
                                        Web Application Security modules to create a custom training course that suits
                                        your specific needs.
                                    </div>
                                    <div class="linebtn">
                                        <a href="{{ url_for('page', name='training/pwas') }}">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="Section_Second Practisec">
        <div class="InnerContainWrapper">
            <div class="Content">

<h4 class="fz50">Training Options</h4>
<h3>Public</h3>
<p>Practical Security Services schedules public classes all over the world. While historically public classes have only taken place in the United States, Practical Security Services is willing an able to travel abroad. Open enrollment classes are made available through several arrangements:</p>
<ul>
<li>Hosted by Practical Security Services directly.</li>
<li>Hosted by Practical Security Services in association with a host company.</li>
<li>Provided through partnerships with conferences and events.</li>
</ul>
<p>Pricing for public classes hosted by Practical Security Services use the same pricing model as private training (see the "Private" section for details) with the exception of the inclusion of travel. However, prices may vary when training is provided through partnerships where the partner controls the pricing, or when travel costs are excessive (i.e. major city centers or international). These changes would be reflected in the individual ticket prices.</p>
<p>For classes hosted by Practical Security Services, there is a minimum class size of twelve students that must be met two weeks prior to public training events or the event may be canceled. In the event of a cancellation, paid participants will have the option of a full refund or credit toward a future training opportunity. Credits apply to training organized by Practical Security Services LLC only. Otherwise, all purchases are final and refunds may be issued on a case by case basis at 97% of the full value to cover processing fees.</p>
<p>For companies looking to host a public class, Practical Security Services manages all of the financial logistics and the host company is only responsible for providing the training space, so there is minimal overhead for the host company. Practical Security Services also provides incentives to the host company. Please contact us for details.</p>
<h3>Private</h3>
<p>Practical Security Services charges a flat rate per person per day for private training, regardless of the course. Rate may vary based on location, travel duration, etc. There is also a minimum private class size of ten students. Travel is billed as actual for private classes in addition to the class rate. If you are unable to meet the minimum class size, there is the option to pay the equivalent fee of ten students, or host a public class and permit non-employees to register in order to meet the minimum requirement (see the "Public" section for details).</p>

            </div>
        </div>
    </section>

{% endblock %}
