{% extends "layout.html" %}

{% block content %}
    <section class="InnerHeaderBg" style="background-image: url({{ url_for('static', filename='images/imgs/consulting-header.jpg') }}); min-height:461px;">
        <div class="ResImg">
            <img src="{{ url_for('static', filename='images/imgs/consulting-header.jpg') }}" alt="">
        </div>
        <div class="Wrapper">
            <div class="MainWrapper">
                <h2 class="Title fz90 bits-r">
                    PBAT
                </h2>
            </div>
        </div>
    </section>

    <section class="Section_Second Practisec">
        <div class="InnerContainWrapper">
            <div class="Content">

<h3>Practical Burp Suite Pro: Advanced Tactics</h3>

<p>Do you feel pretty good about your Web Application Security testing methodology, but think you might be able to get more out of your tools? Years of experience providing instruction on the process of conducting Web Application Security assessments has made it clear. Even the most experienced testers lack a complete understanding of everything that is available in the industry’s #1 Web Application Security testing tool: PortSwigger’s Burp Suite Pro. It’s time to fix that with PBAT.</p>

<h4>Description</h4>

<p>PBAT provides comprehensive training on the capabilities of Burp Suite Pro and the practical application of these capabilities in real world web application penetration testing engagements. The instructor will introduce the various components of Burp Suite Pro, discussing their purpose, strengths, and limitations, and lead students in realistic scenario driven hands-on exercises leveraging the components against a modern web application. As the scenarios unfold, the instructor will share tips and tricks for using Burp Suite Pro gained from years of personal usage experience and extensive research into the tool's capabilities and ongoing expansion. These scenarios include the use of lesser-known features hidden within the Burp interface, and the modification and chaining of features to solve complex problems that make testing modern applications a challenge.</p>

<p>PBAT is a PortSwigger preferred <a href="https://portswigger.net/training/">Burp Suite Training course</a>. As a PortSwigger Preferred Burp Suite Pro Trainer, Tim is a trusted source for comprehensive training on Burp Suite Pro. Students will receive a trial license for Burp Suite Pro to use during and after the course.</p>

<h4>Skill Requirements</h4>

<p>PBAT is 100% focused on the latest stable version of Burp Suite Pro and does not address the process of assessing web applications for security issues or specific vulnerabilities. However, the class is taught within the context of a web application security assessment in order to provide realistic scenarios for the tool’s usage. While not an official continuation of Practical Web Application Penetration Testing (PWAPT) or Practical Web Application Security Assessment (PWASA), PBAT is a great follow-up for students who have previously attended either of these courses.</p>

<h4>Technical Requirements</h4>

<ul>
<li>Laptop with the latest VMware Player, VMware Workstation, or VWware Fusion installed. Other virtualization software such as Parallels or VirtualBox will probably work if the attendee is familiar with its functionality. However, VMware Player should be prepared as a backup.</li>
<li>Ability to disable all security software on their laptop such as Antivirus and/or firewalls (Administrator).</li>
<li>At least twenty (20) GB of hard drive space.</li>
<li>At least eight (8) GB of RAM.</li>
</ul>

            </div>
        </div>
    </section>
{% endblock %}
