{% extends "layout.html" %}

{% block content %}
    <section class="InnerHeaderBg" style="background-image: url({{ url_for('static', filename='images/imgs/consulting-header.jpg') }}); min-height:461px;">
        <div class="ResImg">
            <img src="{{ url_for('static', filename='images/imgs/consulting-header.jpg') }}" alt="">
        </div>
        <div class="Wrapper">
            <div class="MainWrapper">
                <h2 class="Title fz90 bits-r">
                    PWAS
                </h2>
            </div>
        </div>
    </section>

    <section class="Section_Second Practisec">
        <div class="InnerContainWrapper">
            <div class="Content">

<h3>Practical Web Application Security</h3>
<p>No single Web Application Security training class fits every need, and developing and managing custom training courses is a difficult task often resulting in additional expense for you, the purchaser. It doesn't have to be that way. Practical Security Services has developed a proprietary content management and presentation platform that quickly and effortlessly builds custom training courses based on client specified needs, removing the overhead and expense associated with providing customized training. This saves you money and results in a consistent high-quality product.</p>
<p>Clients choose from a menu of 150+ Web Application Security modules and our system creates a training deck and associated booklet with the push of a button. Available training modules include content related to vulnerability theory, remediation techniques, secure development, testing methodology (dynamic, static and hybrid), hands-on exercises and labs, tooling, web-based protocols, etc. New modules can also be created upon request. Once a course is built, it is delivered as a blend of lecture and lab exercises that the students and instructor will do together so that the students can see, feel, and think what the instructor has learned through years of software development and Web Application Security consulting.</p>
<p>With this kind of interactive, fully customized, framework agnostic, Web Application Security training, clients can provide their developers, quality assurance personnel, and security engineers with the in-depth knowledge of web-based software vulnerabilities required to meet Web Application Security objectives. Please <a href="/contact/">contact us</a> to begin the discussion on how customized training can meet your Web Application Security training needs.</p>

            </div>
        </div>
    </section>
{% endblock %}
